<div class="sidebar">
  <ul>
    <li><a (click)="scrollToSection('home')"><i class="fa fa-home"></i><span>Home</span></a></li>
    <li><a (click)="scrollToSection('about')"><i class="fa fa-user"></i><span>About</span></a></li>
    <li><a (click)="scrollToSection('skills')"><i class="fa fa-code"></i><span>Skills</span></a></li>
    <li><a (click)="scrollToSection('projects')"><i class="fa fa-folder"></i><span>Projects</span></a></li>
    <li><a (click)="scrollToSection('education')"><i class="fa fa-graduation-cap"></i><span>Education</span></a></li>
    <li><a (click)="scrollToSection('experience')"><i class="fa fa-briefcase"></i><span>Experience</span></a></li>
    <li><a (click)="scrollToSection('contact')"><i class="fa fa-envelope"></i><span>Contact</span></a></li>
  </ul>
</div>