<p>
  Hello There! I am a passionate Computer Science graduate student at New York
  University's Courant Institute, specializing in Machine Learning, Computer
  Vision, and Generative AI. With a strong foundation in software engineering
  and data science, I bring hands-on experience from roles at various leading
  technology companies. My technical expertise spans a wide range of programming
  languages, frameworks, and technologies. </p>
  
  <p>I'm proficient in Java, Python, C++,
  and web technologies, with strong skills in machine learning frameworks like
  TensorFlow and Keras. My experience includes working with databases, cloud
  platforms (AWS, Azure), and big data tools. I'm adept at computer vision, NLP,
  and full-stack development using Angular and Spring. This diverse skill set
  enables me to tackle complex problems and deliver efficient solutions across
  various domains in computer science and AI. </p>
  
  <p>Currently, I am deeply engaged in
  the field of Generative AI and Large Language Models (LLMs).As a Data Science
  Intern, I am developing Generative AI models to automate processes and enhance
  operational efficiency. My work involves leveraging cutting-edge techniques in
  Retrieval-Augmented Generation (RAG) and exploring the capabilities of
  advanced LLMs. I am particularly interested in pushing the boundaries of AI
  technology and its practical applications in solving complex real-world
  problems.
</p>
