<section class="experience-section">
    <h2>Professional Experience</h2>
    <div class="experience">
      <h3>Cloud Data Engineer at Zyter</h3>
      <p>Developed and optimized ETL pipelines using AWS Glue, created data ingestion pipelines with Amazon Redshift.</p>
    </div>
    <div class="experience">
      <h3>Data Engineer at HSBC</h3>
      <p>Developed ETL pipelines using PySpark on Azure Databricks and handled data transformations using Spark Scala scripts.</p>
    </div>
  </section>
  