<div class="home-container">
  <div class="home-intro">
    <h1>Yaswanth Pati</h1>
    <p>
      I'm a Software Developer specializing in Machine Learning and Web
      Development. I have a passion for building innovative solutions and love
      to explore the latest technologies.
    </p>

    <div class="social-icons">
      <a href="https://github.com/"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/yaswanth-pati/"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </div>

  <div class="home-image">
    <img src="assets/profile.jpg" alt="Profile Picture" />
  </div>
</div>



